@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 12vh;
    background-color: rgb(57, 86, 139);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navegacao {
    display: flex;
    flex-direction: row;
    gap: 6vh;
    margin-left: 7vh;
    color: white;
    font-size: 2vh;
    font-family: "Jost", sans-serif;
    font-style: oblique;   
    text-decoration: underline rgb(255, 230, 0) 2.3px;
}


#imagem-logo {
    width: 10vh;
    border-radius: 100%;
    margin: 3vh;
    margin-right: 7vh;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(241, 240, 175);
    transform: scale(1.03);
}

body {
    margin: 0;
}

main {
    background-color: rgb(9, 56, 78);
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}


#titulo-entrevista {
    width: 90%;
    height: 30vh;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/img-entrevista.PNG);
    border-radius: 15vh;
    box-shadow: 0 0 6vh  rgb(0, 0, 0);
    background-repeat: no-repeat;
}

#fundo {
   width: 100%;
   height: 100%; 
   border-radius: 15vh;
   background-color: rgba(22, 2, 54, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2vh;
}

#titulo {
    font-size: 8vh;
    font-family: "Abril Fatface", sans-serif;
    color: white;
}

#subtitulo {
    font-size: 3vh;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    color: white;
}

#entrevista-p {
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.pergunta-resposta {
    background-color: rgb(11, 73, 102);
    width: 150vh;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #e1e459; 
    padding-left: 1.5vh;
    box-shadow: 0 0 2vh  rgb(3, 31, 44);
    color: aliceblue;
    font-family: "Jost", sans-serif;
    border-radius: 2.7vh;
}

.pergunta {
    margin-top: 1.5vh;
    font-weight: 500;
}

.resposta {
    margin-bottom: 1.5vh;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(57, 86, 139);
    color: white;
    gap: 1vh;
    font-family: "Jost", sans-serif;
}

#meu-nome {
    margin-top: 3vh;
}

#contato {
 display: flex;
 align-items: center;
 justify-content: baseline;
 flex-direction: column;
 gap:1vh;
 margin-bottom: 3vh;
}

#texto-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.texto-bloco-contato {
    margin-top: 0;
    text-align: center;
    font-size: 2vh;
}

#contato a {
    background-color: rgb(9, 56, 78);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 11vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
    border: 0.2vh solid #000000;
}

#contato a:hover {
    transform:scale(1.1);
}

@media (max-width: 1024px) {

    header {
        height: 10vh;
    }

    #navegacao {
        font-size: 1.8vh;
        gap: 4vh;
        margin-left: 4vh;
    }

    #imagem-logo {
        width: 8vh;
        margin-right: 4vh;
    }

    #titulo-entrevista {
        height: 26vh;
        border-radius: 12vh;
    }

    #fundo {
        border-radius: 12vh;
    }

    #titulo {
        font-size: 5vh;
    }

    #subtitulo {
        font-size: 2.5vh;
    }

    .pergunta-resposta {
        width: 120vh;
        font-size: 2.1vh;
    }
}

@media (max-width: 768px) {

    header {
        height: 9vh;
    }

    #navegacao {
        font-size: 1.7vh;
        gap: 3vh;
        margin-left: 3vh;
    }

    #imagem-logo {
        width: 7vh;
        margin-right: 3vh;
    }

    #titulo-entrevista {
        width: 92%;
        height: 22vh;
        border-radius: 10vh;
        background-size: cover;
    }

    #fundo {
        border-radius: 10vh;
        gap: 1.5vh;
    }

    #titulo {
        font-size: 3vh;
    }

    #subtitulo {
        font-size: 2vh;
    }

    .pergunta-resposta {
        width: 90%;
        padding-left: 2vh;
        font-size: 2vh;
    }
}

@media (max-width: 480px) {

    header {
        height: 8vh;
    }

    #navegacao {
        font-size: 1.5vh;
        gap: 2vh;
        margin-left: 2vh;
        text-decoration-thickness: 1.8px;
    }

    #imagem-logo {
        width: 6vh;
        margin-right: 2vh;
    }

    #titulo-entrevista {
        width: 95%;
        height: 20vh;
        border-radius: 8vh;
        background-size: cover;
    }

    #fundo {
        border-radius: 8vh;
        gap: 1vh;
    }

    #titulo {
        font-size: 4vh;
    }

    #subtitulo {
        font-size: 2vh;
    }

    .pergunta-resposta {
        width: 92%;
        font-size: 1.8vh;
        padding-left: 1.4vh;
    }

    .pergunta {
        margin-top: 1vh;
    }
}
