@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 12vh;
    background-color: rgb(57, 86, 139);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navegacao {
    display: flex;
    flex-direction: row;
    gap: 6vh;
    margin-left: 7vh;
    color: white;
    font-size: 2vh;
    font-family: "Jost", sans-serif;
    font-style: oblique;   
    text-decoration: underline rgb(255, 230, 0) 2.3px;
}


#imagem-logo {
    width: 10vh;
    border-radius: 100%;
    margin: 3vh;
    margin-right: 7vh;
}

main {
    height: 89vh;
    background-color: rgb(9, 56, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(241, 240, 175);
    transform: scale(1.03);
}

main {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}

#titulo {   
    margin: 2vh;
}

#camiseta {
    width: 10vh;
}

#casa {
    width: 10vh;
}

#crea {
    width: 10vh;
}

#grupo-pessoas {
    width: 10vh;
}

#panobianco {
    width: 10vh;
}